html {
		font-family:'Open Sans';
		background: #e0e0e0;
		background-image: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),url('../images/wall.jpg');

}

.login-box {
		width: 50%;
		text-align: left;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
		background: white;
		margin: auto;
		margin-top: 5%;
}

.inLogin-box {
		width: 100%;
		position: relative;
}

.header {
		text-align: left;
		background: #3f51b5;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
		color: white;
		padding: 10 10 10 30;
		border-bottom: 3px solid #ff5722;
}

.detail {
		width: 100%;
		text-align: center;
}

.footer {
		width: 100%;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
}

.loginButton {
		font-size: 20px;
		font-family:'Open Sans';
		color: white;
		width: 70%;
		padding:4px 30px 4px 30px;
		border:0;outline:none;
		transition:0.3s;
		box-shadow:0 1px 5px rgba(0,0,0,0.3);
		margin:0 20px 0 25px;
		background: #3f51b5;
		border-radius: 4px;
}

.loginButton:hover {
		cursor:pointer;	
		box-shadow:0 5px 30px rgba(0,0,0,0.3);
}

.loginText {
		height: 40px;
		padding: 3px;
		font-size: 20px;
		font-family:'Open Sans';
		width: 60%;
		color: #94a4b0;
		border-radius: 4px;
		transition: all ease-in-out .15s;
}