//red
.w3-red-theme-l5 {color:#000 !important; background-color:#fef4f3 !important}
.w3-red-theme-l4 {color:#000 !important; background-color:#fdd9d6 !important}
.w3-red-theme-l3 {color:#000 !important; background-color:#fbb3ae !important}
.w3-red-theme-l2 {color:#000 !important; background-color:#f98d85 !important}
.w3-red-theme-l1 {color:#fff !important; background-color:#f6665c !important}
.w3-red-theme-d1 {color:#fff !important; background-color:#f32617 !important}
.w3-red-theme-d2 {color:#fff !important; background-color:#e11a0c !important}
.w3-red-theme-d3 {color:#fff !important; background-color:#c5170a !important}
.w3-red-theme-d4 {color:#fff !important; background-color:#a91409 !important}
.w3-red-theme-d5 {color:#fff !important; background-color:#8d1007 !important}
.w3-red-theme-light {color:#000 !important; background-color:#fef4f3 !important}
.w3-red-theme-dark {color:#fff !important; background-color:#8d1007 !important}
.w3-red-theme-action {color:#fff !important; background-color:#8d1007 !important}
.w3-red-theme {color:#fff !important; background-color:#f44336 !important}
.w3-red-text-theme {color:#f44336 !important}
.w3-red-theme-border {border-color:#f44336 !important}
.circleRed{
	font-size:20px;
	vertical-align:middle;
	padding:40px;
	margin:20px;
	background:#fdd9d6;
	border:1px solid #c5170a;
	border-radius:50%;
	overflow:hidden;
	transition:0.2s;
}
.circleRed:hover{
	color:#fff;
	background:#f98d85;
	text-decoration:none;
}
i.circleRed{
	font-size:42px;
	color:#009688;
}

i{
	color:#c5170a;
}
button,.button{
	color:#e11a0c;
}
a{
	color:#e11a0c;
}
th{
		background:#e11a0c;
}
.undivide th{
		background:#e11a0c;
}
.order-button:hover{
		color:#e11a0c;
}
tr:hover{
		background:#f98d85;
}
.menu i:hover{
		color:#fff;
		background:#e11a0c;
		cursor:pointer;
		border-radius:50%;
}