//green
.w3-green-theme-l5 {color:#000 !important; background-color:#f4faf4 !important}
.w3-green-theme-l4 {color:#000 !important; background-color:#dbefdc !important}
.w3-green-theme-l3 {color:#000 !important; background-color:#b7dfb8 !important}
.w3-green-theme-l2 {color:#000 !important; background-color:#93cf95 !important}
.w3-green-theme-l1 {color:#fff !important; background-color:#6ec071 !important}
.w3-green-theme-d1 {color:#fff !important; background-color:#459c48 !important}
.w3-green-theme-d2 {color:#fff !important; background-color:#3d8b40 !important}
.w3-green-theme-d3 {color:#fff !important; background-color:#357a38 !important}
.w3-green-theme-d4 {color:#fff !important; background-color:#2e6830 !important}
.w3-green-theme-d5 {color:#fff !important; background-color:#265728 !important}
.circleGreen{
	font-size:20px;
	vertical-align:middle;
	padding:40px;
	margin:20px;
	background:#dbefdc;
	border:1px solid #357a38;
	border-radius:50%;
	overflow:hidden;
	transition:0.2s;
}
.circleGreen:hover{
	color:#fff;
	background:#93cf95;
	text-decoration:none;
}
i.circleGreen{
	font-size:42px;
	color:#009688;
}

i{
	color:#357a38;
}
button,.button{
	color:#3d8b40;
}
a{
	color:#3d8b40;
}
th{
		background:#3d8b40;
}
.undivide th{
		background:#3d8b40;
}
.order-button:hover{
		color:#3d8b40;
}
tr:hover{
		background:#93cf95;
}
.menu i:hover{
		color:#fff;
		background:#3d8b40;
		cursor:pointer;
		border-radius:50%;
}